{% extends 'index.html' %}
{% block content %}

<section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent"></a> <p></li>
                <li class="active editContent">
                    </li>
            </ul>
            </div>
</div>
</div>
</section>
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">

            <div class="d-grid contact-view">

                <div class="cont-details">
                    <h3 class="sub-title">Quick Contact</h3> 
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="tel:+44 99 555 42">+123 45 67 89</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"> Mary matha arts and science college,mananthavady,
                                <br>Wayanad
                                <br>Kerala</p>
                        </div>
                    </div>
                </div>
                
                <div class="map-iframe ">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15621.234293808746!2d76.00819829029773!3d11.813648467810056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba5dc31fb31c201%3A0x761b4b8c71b77243!2sMary%20Matha%20Arts%20%26%20Science%20College!5e0!3m2!1sen!2sin!4v1702379645851!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}

<!-- <section class="w3l-footer-29-main">
	<div class="footer-29 py-5 ">
	  <div class="container">
		  <div class="grid-col-4 footer-top-29">
			  <div class="footer-list-29 footer-1">
				  <h2 class="footer-title-29">Contact Us</h2>
  				<ul>
	  				<li><p><span class="fa fa-map-marker"></span>Mary matha arts and science college,Mananthavady,<br>
		  				Wayanad,Kerala</p></li>
			  		<li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
				  	<li><a  class="mail"><span class="fa fa-envelope-open-o"></span> example@mail.com</a></li>
  				</ul>
	  			<div class="main-social-footer-29">
		  			<a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
			  		<a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
				  	<a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
	  				<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
  				</div>
		  	</div>
			  <div class="footer-list-29 footer-3"></div>
  			<div class="footer-list-29 footer-3"></div>
	  		<div class="footer-list-29 footer-3">
          <div class="properties">
            <h6 class="footer-title-29">Latest Gallery</h6>
            <div class="images-col">
              <img src="assets/images/blog1.jpg" class="img-responsive" alt="">
              <img src="assets/images/blog2.jpg" class="img-responsive" alt="">
              <img src="assets/images/blog3.jpg" class="img-responsive" alt="">
              <img src="assets/images/blog4.jpg" class="img-responsive" alt="">
              <img src="assets/images/blog5.jpg" class="img-responsive" alt="">
              <img src="assets/images/blog6.png" class="img-responsive" alt="">
            </div>
          </div>
			  </div>
			</div>
    </div>
	</div>
</section> -->

<!-- move top -->
<!-- <button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-chevron-up"></span>
</button>
<script> -->
	// When the user scrolls down 20px from the top of the document, show the button
	// window.onscroll = function () {
	// 	scrollFunction()
	// };

	// function scrollFunction() {
	// 	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
	// 		document.getElementById("movetop").style.display = "block";
	// 	} else {
	// 		document.getElementById("movetop").style.display = "none";
	// 	}
	// }

	// When the user clicks on the button, scroll to the top of the document
	// function topFunction() {
	// 	document.body.scrollTop = 0;
	// 	document.documentElement.scrollTop = 0;
	// }
<!-- </script> -->
<!-- /move top -->

<!-- </body>

</html> -->
